.app-footer {
    background-color: $clr3;
    padding-block: .7em;

    .app-footer-inner-container {
        color: $clr2;
        column-gap: 1em;

        p {
            font-size: em(14px);
        }
    }
}