.app-header {
    background-color: $clr1;
    padding-block: .7em;
    color: $clr3;

    .app-header-inner-container {

        .logo {
            column-gap: .3em;

            span {
                font-size: em(30px);
            }

            h1 {
                font-size: em(20px);
                margin-block-end: .2em;
            }
        }

        nav {
            a {
                color: $clr3;
                font-size: em(14px);

                &.router-link-active {
                    text-decoration: underline;
                }

                &:not(:last-child) {
                    margin-inline-end: .5em;
                }
            }
        }
    }
}