.contacts-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: .5em;
    list-style: none;
    margin-block: 1em;

    li {
        background-color: $clr4;
        padding: .5em;

        .contact-preview {
            img {
                width: 6em;
                margin-block-end: .5em;
            }

            p {
                font-size: em(14px);
            }
        }
    }
}