* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: Heebo-Regular, sans-serif;
    line-height: 1.6;
    color: $clr2;
}

body {
    font-size: rem(16px);
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}