@font-face {
    font-family: Heebo-Regular;
    src: url(@/assets/styles/fonts/Heebo/Heebo-Regular.ttf);
}

@font-face {
    font-family: Heebo-Medium;
    src: url(@/assets/styles/fonts/Heebo/Heebo-Medium.ttf);
}

@font-face {
    font-family: Heebo-SemiBold;
    src: url(@/assets/styles/fonts/Heebo/Heebo-SemiBold.ttf);
}

@font-face {
    font-family: Heebo-Light;
    src: url(@/assets/styles/fonts/Heebo/Heebo-Light.ttf);
}